In [1]:
#Import packages

import numpy as np
import pandas as pd

In [4]:
#pembuatan ID

ID = []

for i in range(40):
    ID.append(i+1)

ID = pd.Series(ID)

#mencetak masing2 nilai

tugas = np.random.normal(85, 7, 40)

UTS = np.random.normal(60, 15, 40)

UAS = np.random.normal(75, 10, 40)

#Nilai Akhir

nilai_akhir = tugas * 0.2 + UTS * 0.4 + UAS * 0.4

nilai_akhir = pd.Series(nilai_akhir)

In [5]:
#Melakukan binning

#Membuat fungsi 'keterangan' dengan parameternya 'nilai_akhir'
def keterangan(nilai_akhir):
    if 85 <= nilai_akhir <= 100:
        return 'A'
    elif 80 <= nilai_akhir < 85:
        return 'A-'
    elif 75 <= nilai_akhir < 80:
        return 'B+'
    elif 70 <= nilai_akhir < 75:
        return 'B'
    elif 65 <= nilai_akhir < 70:
        return 'B-'
    elif 60 <= nilai_akhir < 65:
        return 'C+'
    elif 55 <= nilai_akhir < 60:
        return 'C'
    elif 50 <= nilai_akhir < 55:
        return 'C-'
    elif 20 <= nilai_akhir < 50:
        return 'D'
    else:
        return 'E'

#mengaplikasikan nilai_akhir kedalam fungsi 'keterangan'
keterangan = nilai_akhir.apply(keterangan)

for i in range(40):
   print(f'Keterangan mahasiswa {i+1} adalah {keterangan[i]}')

Keterangan mahasiswa 1 adalah B
Keterangan mahasiswa 2 adalah A
Keterangan mahasiswa 3 adalah B-
Keterangan mahasiswa 4 adalah B-
Keterangan mahasiswa 5 adalah A-
Keterangan mahasiswa 6 adalah C+
Keterangan mahasiswa 7 adalah B-
Keterangan mahasiswa 8 adalah B
Keterangan mahasiswa 9 adalah B
Keterangan mahasiswa 10 adalah B
Keterangan mahasiswa 11 adalah B+
Keterangan mahasiswa 12 adalah A-
Keterangan mahasiswa 13 adalah B-
Keterangan mahasiswa 14 adalah B
Keterangan mahasiswa 15 adalah B-
Keterangan mahasiswa 16 adalah B
Keterangan mahasiswa 17 adalah B
Keterangan mahasiswa 18 adalah B-
Keterangan mahasiswa 19 adalah C+
Keterangan mahasiswa 20 adalah B
Keterangan mahasiswa 21 adalah A
Keterangan mahasiswa 22 adalah B
Keterangan mahasiswa 23 adalah B-
Keterangan mahasiswa 24 adalah B-
Keterangan mahasiswa 25 adalah B
Keterangan mahasiswa 26 adalah B+
Keterangan mahasiswa 27 adalah A
Keterangan mahasiswa 28 adalah B
Keterangan mahasiswa 29 adalah C+
Keterangan mahasiswa 30 adalah B-
Keterangan mahasiswa 31 adalah B+
Keterangan mahasiswa 32 adalah A-
Keterangan mahasiswa 33 adalah C
Keterangan mahasiswa 34 adalah B
Keterangan mahasiswa 35 adalah B
Keterangan mahasiswa 36 adalah B
Keterangan mahasiswa 37 adalah C+
Keterangan mahasiswa 38 adalah B-
Keterangan mahasiswa 39 adalah B-
Keterangan mahasiswa 40 adalah B-

In [6]:
# membuat DataFrame

Rekap_Nilai_Mahasiswa = pd.DataFrame({'ID Mahasiswa':ID,
                                      'Tugas':tugas,
                                      'UTS':UTS,
                                      'UAS':UAS,
                                      'Keterangan':keterangan})

Rekap_Nilai_Mahasiswa

    ID Mahasiswa       Tugas         UTS        UAS Keterangan
0              1   83.313871   67.750329  74.461272          B
1              2   92.542556   80.926557  91.230180          A
2              3   74.648574   54.515615  77.802584         B-
3              4   88.374156   40.401568  81.259894         B-
4              5   80.429555   74.981862  89.091566         A-
5              6   80.386639   41.400803  74.109596         C+
6              7   84.527107   52.370144  73.738265         B-
7              8   88.074869   59.254000  77.289208          B
8              9   85.169076   59.004256  80.461257          B
9             10   92.377596   56.909565  77.735412          B
10            11   82.447480   74.594138  78.644422         B+
11            12   94.686883   77.876463  79.817344         A-
12            13   76.207945   52.215045  75.112325         B-
13            14   71.148818   70.598993  75.813493          B
14            15   88.507264   54.218382  71.542056         B-
15            16   95.217936   45.699057  92.243501          B
16            17   79.417638   61.040153  74.619604          B
17            18   86.918937   63.034545  59.754841         B-
18            19   87.968862   48.851387  62.947082         C+
19            20  101.205171   66.100789  60.984566          B
20            21   77.127777   99.601450  92.519868          A
21            22   94.868459   54.829828  81.370278          B
22            23   84.763493   56.827266  68.442932         B-
23            24   83.536695   53.335865  79.633772         B-
24            25   77.550413   56.759448  83.370405          B
25            26   85.061096   66.215454  79.777568         B+
26            27  102.462287  101.303964  80.330262          A
27            28   87.838020   47.414515  85.564358          B
28            29   81.236641   56.056263  56.354943         C+
29            30   86.655943   49.459635  73.766786         B-
30            31   93.992643   69.950702  78.165272         B+
31            32   77.641728   88.930045  76.165354         A-
32            33   88.627190   42.714934  60.400204          C
33            34   90.344117   70.881721  67.410502          B
34            35   86.072019   47.962175  87.999344          B
35            36   99.153460   69.478397  58.951767          B
36            37   66.354321   51.450084  70.354710         C+
37            38  103.376843   31.384565  88.688940         B-
38            39   93.376815   42.763841  81.109711         B-
39            40   87.772733   51.900514  68.019046         B-